
#b1:hover {
  background: whitesmoke;
  color: brown;
  margin-top: -.2rem;
  font-size: 1.3rem;
  font-weight: 500;
}
#b2:hover {
  background: whitesmoke;
  color: brown;
  margin-top: -.2rem;
  font-size: 1.3rem;
  font-weight: 500;

}
#b1{
  color: white;
  margin-top:-.5rem;
  font-weight: 500;
  font-size: 1.3rem;
}
#b2{
  color: white;
  margin-top:-.5rem;
  font-weight: 500;
  font-size: 1.3rem;
}
#im1{
  width: 100%;
  margin-top: .5rem;
  height: 450px;
}
button{
  margin-top: 20rem;
  margin-left: 1rem;
}
svg{
  margin-top: .5rem;
}
